@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");




body {
  background: #081822;
}

.hero {
  
  align-items: center;
}

h1 {
  max-width: 700px;
  justify-content: center;
  color: white;
  font-size: 84px;
  font-family: "Caveat", cursive;
  text-align: center;
}
.text-work {
  color: "rgba(255, 255, 255, 0.8)";
  font-size: "18px",
}

@media (max-width: 768px) {
    h1 {
    font-size: 48px;
  }
  .hero {
  
    align-items: center;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 38px;
  }  
  .hero {
  
    align-items: center;
  }
}

.avatar-wrapper {
  position: relative;
  display: inline-block;
  align-items: center;
}

.avatar {
  --s: 20px;
  --b: 5px;
  --f: 1;

  aspect-ratio: 1;
  cursor: pointer;
  border-radius: 100%;
margin: 20px;
  outline: var(--b) solid var(--c);
  outline-offset: var(--_o);
  transform: scale(var(--f));
  transition: 0.7s;
}

.avatar-wrapper img:hover {
  --f: 1.35;
}

.hover-message {
  position: absolute;
  top: 100%; /* Position it above the avatar */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Center it horizontally */
  background: rgba(0, 0, 0, 0.7); /* Dark background for better readability */
  color: white; /* White text for contrast */
  padding: 1rem; /* Padding for spacing */
  border-radius: 0.5rem; /* Softened corners */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
  pointer-events: none; /* Prevent the hover message from interfering with clicks */
  width: 150px;
}

.avatar-wrapper img:hover + .hover-message {
  opacity: 1; /* Show the message on hover */
}

#cards {
  list-style: none;
  display: grid;

  gap: 1em;
  
  width: auto;
  justify-content: center;
}

#card-1 {
  --index: 1;
}

#card-2 {
  --index: 2;
}

#card-4 {
  --index: 3;
}
.card {
  position: sticky;
  top: 0;
  padding: 90px;
  align-items: center;
}

.card-content {
  background: linear-gradient(
      90deg,
      rgba(44, 74, 119, 0.9) 0%,
      rgba(44, 74, 119, 0.9) 100%
    ),
    url("https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png");
  color: white;
  border-radius: 2rem;
  overflow: hidden;
  display: grid;
  grid-template-areas: "text img"; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto; 
  padding: 2.4em;
}

.card-content > div {
  grid-area: text; 
  place-self: center;
  text-align: left;
  display: grid;
  place-items: start;
}

.card-content > figure {
  grid-area: img;
}

.card-content > figure > img {
  width: 100%; 
  height: 100%; 
  object-fit: fill; 
 
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it appears above other elements */
  background-color: transparent; /* Transparent background */
  transition: background-color 0.3s ease; 
  background-color: rgba(255, 255, 255, 0.08); /* Opaque background when sticky */
  box-shadow: rgba(0, 0, 0, 0.1) -1px 2px 12px 0px; 
  border-radius: 100px;
  border: 1px solid #4D4D4D;
  margin-left: 37%;
  align-items:center ;
  max-width: 550px;
}

.navbar.sticky {
  background-color: rgba(255, 255, 255, 0.08); /* Opaque background when sticky */
  box-shadow: rgba(0, 0, 0, 0.1) -1px 2px 12px 0px; 
  border-radius: 100px;
  border: 1px solid #4D4D4D;
  margin-left: 37%;
}

.navbar-space {
  display: flex; 
}



.navbar-logo {
  display: none; 
}


.social-wrapper {
  display: block; 
}

@media (max-width: 768px) {
  .social-wrapper {
    display: none;
  }
  .card-content {
    grid-template-columns: 1fr; 
    padding: 3.4em; 
    grid-template-areas: "text" "img"; 
  }

  .card-content > div {
    text-align: left;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it appears above other elements */
    background-color: transparent; /* Transparent background */
    transition: background-color 0.3s ease; 
    background-color: rgba(255, 255, 255, 0.08); /* Opaque background when sticky */
    box-shadow: rgba(0, 0, 0, 0.1) -1px 2px 12px 0px; 
    border-radius: 100px;
    border: 1px solid #4D4D4D;
   
    margin-left: 15%;
    align-items:center ;
  }
  .navbar.sticky {
    background-color: rgba(255, 255, 255, 0.08); /* Opaque background when sticky */
    box-shadow: rgba(0, 0, 0, 0.1) -1px 2px 12px 0px; 
    border-radius: 100px;
    border: 1px solid #4D4D4D;
  
  }
  .navbar-space {
    display: none; /* Hide the full menu on smaller screens */
  }

 
  
}

@media (max-width: 480px) {
  .card-content {
    padding: 2.2em;
    grid-template-areas: "text" "img"; 
  }

  .card-content > div {
    gap: 0.5em;
  }
  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: transparent; /* Transparent background */
    transition: background-color 0.3s ease; 
    background-color: rgba(255, 255, 255, 0.08); /* Opaque background when sticky */
    box-shadow: rgba(0, 0, 0, 0.1) -1px 2px 12px 0px; 
    border-radius: 100px;
    border: 1px solid #4D4D4D;
    margin-left: 0%;
    align-items:center ;
  }
  .navbar.sticky {
    background-color: rgba(255, 255, 255, 0.08); /* Opaque background when sticky */
    box-shadow: rgba(0, 0, 0, 0.1) -1px 2px 12px 0px; 
    border-radius: 100px;
    border: 1px solid #4D4D4D;
    margin-left: 0%;
  
  }
}



@supports (animation-timeline: works) {
  @scroll-timeline cards-element-scrolls-in-body {
    source: selector(body);
    scroll-offsets:
      selector(#cards) start 1,
      selector(#cards) start 0;
    start: selector(#cards) start 1;
    end: selector(#cards) start 0;
    time-range: 4s;
  }

  @keyframes scale {
    to {
      transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
    }
  }
}

.tag-list {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 1.5rem 0;
  gap: 1rem 0;
}

.loop-slider {
  .inner {
    display: flex;
    width: max-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);
  }
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0; 
  background-color: none 0% 0%;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 1rem; 
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 
    0 0.1rem 0.2rem rgb(0 0 0 / 20%),
    0 0.1rem 0.5rem rgb(0 0 0 / 30%),
    0 0.2rem 1.5rem rgb(0 0 0 / 40%);
  
  span {
    font-size: 1.2rem;
    color: #64748b;
  }
}



@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}